<div class="modal fade" id="otpModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content wallet-modal">
            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title">@L["ActionVerification"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@L["Close"]"></button>
            </div>
            <div class="modal-body otp-modal-body">
                <div class="otp-hero-icon" aria-hidden="true">
                    <i class="bi bi-shield-check"></i>
                </div>
                <h2 class="h4 mb-2">@L["EnterVerificationCode"]</h2>
                <p class="otp-copy" data-otp-message>@L["OtpEmailInstruction"]</p>
                <input class="form-control otp-input text-center fw-bold" id="otpModalCode" inputmode="numeric" maxlength="6" autocomplete="one-time-code" placeholder="00000" />
                <div class="form-text mt-2">@L["OtpBypassHelp"]</div>
                <div class="text-danger small mt-2 d-none" data-otp-error></div>
            </div>
            <div class="modal-footer border-0 pt-0 justify-content-center">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">@L["Cancel"]</button>
                <button type="button" class="btn btn-primary" data-otp-confirm>@L["VerifyAndContinue"]</button>
            </div>
        </div>
    </div>
</div>
